<%= form_for(@food_type, :html => { :class => "form-horizontal" },:remote => true) do |f| %>
	<% if @food_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_type.errors.count, "error") %> prohibited this food_type from being saved:</h2>

      <ul>
      <% @food_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div class="form-group">
		<div class="col-sm-2"><%= f.label :name %></div>
		<div class="col-sm-1">: </div>
		<div class="col-sm-4"><%= f.text_field :name, :class => "form-control" %></div>
	</div>	
	<%= f.submit :class => "btn btn-sm btn-primary" %>
<% end %>