<% if notice %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning!</strong>
    <p id="notice"><%= notice %></p>
  </div>
<% end %>
<div align="center">
  <%= will_paginate @caterings, renderer: BootstrapPagination::Rails %>
</div>
<div class="container">
  <% @caterings.each do |catering| %>
    <div class="col-md-3">
      <div class="card-container">
        <div class="card">
          <div class="front">
            <div class="panel-heading" style="background:#e33747">
              <center><h4 style="color:#FFFFFF"><%= catering.name %></h4></center>
            </div>
            <div class="content" align="center">
              <%= image_tag catering.logo.url(:large), :class => "img-responsive" %>
            </div>
          </div>
          <div class="back">
            <div class="content" style="padding-top:50px">
              <center>
                <i class="fa fa-map-marker fa-fw text-muted"></i>
                <%= catering.address %> <br/><br/>
                <%= catering.email %> <br/><br/>
                <i class="fa fa-phone fa-fw text-muted"></i>
                <%= catering.phone %> <br/><br/>
                <i class="fa fa-tachometer fa-fw text-muted"></i>
                <%= catering.capacity %> <br/><br/>
                <a href="#" class="btn btn-sm btn-primary" style="color:#FFFFFF">Menu dan Paket</a>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div align="center">
  <%= will_paginate @caterings, renderer: BootstrapPagination::Rails %>
</div>