<%= form_for(@food_catering) do |f| %>
  <% if @food_catering.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_catering.errors.count, "error") %> prohibited this food_catering from being saved:</h2>

      <ul>
      <% @food_catering.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :food %><br>
    <%= f.collection_select :food_id, @foods, :id, :name, {prompt: "Select One"} %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :additional %><br>
    <%= f.text_area :additional %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn btn-sm btn-primary" %>
  </div>
<% end %>
