<p id="notice"><%= notice %></p>

<h1>Listing Food Caterings</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Additional</th>
      <th>Food</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_caterings.each do |food_catering| %>
      <tr>
        <td><%= food_catering.price %></td>
        <td><%= food_catering.additional %></td>
        <td><%= food_catering.food %></td>
        <td><%= link_to 'Show', food_catering %></td>
        <td><%= link_to 'Edit', edit_food_catering_path(food_catering) %></td>
        <td><%= link_to 'Destroy', food_catering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food catering', new_food_catering_path %>
