<%= form_for([@package_detail.package,@package_detail], :remote => true) do |f| %>
  <% if @package_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@package_detail.errors.count, "error") %> prohibited this package_detail from being saved:</h2>

      <ul>
      <% @package_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group" style="padding-left:20px">
    <div class="col-sm-3"><%= f.label :foods %></div>
    <div class="col-sm-1">: </div>
    <div class="col-sm-7"><%= f.collection_select :food_id, @foods, :id, :name, {prompt: "Select One"}, {class: "form-control"} %></div>
  </div><br/><br/><br/>
  <div class="row" align="center">
    <%= f.submit :class => "btn btn-sm btn-primary" %>
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
  </div>
<% end %>
